# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter temporary files
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db